In [5]:
api_key = 'kZV1d97CmvMiVKnxHBMivA1ErgUWhKQm'
api_secret = 'tcxrFXu2Ho5GCI31'

In [6]:
url = f'https://api.nytimes.com/svc/books/v3/reviews.json?author=Stephen+King&api-key={api_key}'

In [7]:
import pandas as pd

import requests

import re

In [8]:
llamada = requests.get(url)

In [9]:
llamada

In [12]:
type(llamada)

requests.models.Response

In [14]:
data = llamada.json()

In [15]:
df = pd.DataFrame(data)

In [16]:
df

,status,copyright,num_results,results
0,OK,Copyright (c) 2025 The New York Times Company....,66,{'url': 'http://www.nytimes.com/2011/11/13/boo...
1,OK,Copyright (c) 2025 The New York Times Company....,66,{'url': 'http://www.nytimes.com/2011/10/31/boo...
2,OK,Copyright (c) 2025 The New York Times Company....,66,{'url': 'http://www.nytimes.com/2004/01/04/boo...
3,OK,Copyright (c) 2025 The New York Times Company....,66,{'url': 'http://www.nytimes.com/1993/10/24/boo...
4,OK,Copyright (c) 2025 The New York Times Company....,66,{'url': 'http://www.nytimes.com/2001/11/04/boo...
...,...,...,...,...
61,OK,Copyright (c) 2025 The New York Times Company....,66,{'url': 'http://www.nytimes.com/2016/06/12/boo...
62,OK,Copyright (c) 2025 The New York Times Company....,66,{'url': 'https://www.nytimes.com/2018/05/22/bo...
63,OK,Copyright (c) 2025 The New York Times Company....,66,{'url': 'https://www.nytimes.com/2018/10/26/bo...
64,OK,Copyright (c) 2025 The New York Times Company....,66,{'url': 'https://www.nytimes.com/2019/09/08/bo...
65,OK,Copyright (c) 2025 The New York Times Company....,66,{'url': 'https://www.nytimes.com/2019/09/10/bo...

In [17]:
df.to_excel('libros_SK.xlsx')