# Modos de acceso a los resultados de la consulta üìã

**üö®NOTA IMPORTANTE: üö®**

Al comenzar esta lecci√≥n e ir ejecutando las diferentes celdas de Python, te recomendamos que tengas abierto tambien MySQL para ir viendo paso a paso como se van ejecutando las ordenes desde este notebook en MySQL.üòä

Una vez que hemos logrado ejecutar nuestras consultas a la base de datos, es momento de aprender c√≥mo acceder a los resultados de manera eficiente. En esta lecci√≥n, exploraremos c√≥mo utilizar el m√©todo `cursor()` para obtener y manipular los datos de nuestras consultas en MySQL desde Python. Veremos diferentes formas de acceder a estos resultados, ya sea obteniendo una fila a la vez o todas las filas juntas.

¬°Vamos a descubrir c√≥mo manejar la informaci√≥n que extraemos para hacer an√°lisis m√°s profundos! üöÄ

No olvides que cada vez que queremos trabajar con librerias, en el caso que no se hayan cargado previamente debemos hacerlo, asi que como primer paso vamos a importar las librerias necesarias para poder trabajar con MySQL y Python.

In [1]:
# Importar librer√≠a para la conexi√≥n con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode

Ya con nuestras librerias correctas, vamos por la conexion a la base de datos, en este caso "tienda". Paso siguiente sera crear nuestro cursor que es como la llave para poder interactuar entre Python y MySQL. Por √∫ltimo haremos una consulta simple, queremos saber que tablas tiene la base de datos "tienda".

El uso de *execute()* convierte el *cursor* en un iterable al que podemos acceder de varias maneras. Podemos recorrer sus elementos uno por uno como si fuera una lista utilizando un bucle for.

In [2]:
# conectamos con el servidor
cnx = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='tienda'
)

# creamos el cursor
mycursor = cnx.cursor()

# ejecutamos la query para ver las tablas de la BBDD que hemos indicado en la conexi√≥n
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)
('employees',)
('offices',)
('order_details',)
('orders',)
('payments',)
('product_lines',)
('products',)

En el ejemplo vemos como iterando por el *cursor* hemos accedido a todos los resultados de la query uno por uno y nos lo devuelve en forma de tupla.
Sin embargo, MySQL Connector/Python tambi√©n proporciona formas espec√≠ficas de hacerlo de manera m√°s eficiente y conveniente.

## M√©todo fetchone()

Si deseamos acceder a la primera fila del resultado, podemos utilizar el m√©todo *fetchone()*. 

Este m√©todo recuperar√° la primera fila del resultado de la consulta y avanzar√° el cursor al siguiente registro. 

Como resultado, la pr√≥xima vez que utilicemos el m√©todo *fetchone()* en el mismo cursor, se mostrar√°n datos diferentes. Ve√°moslo con un ejemplo:

In [3]:
# conectamos con el servidor
cnx = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="tienda"
)

# iniciamos el cursor
mycursor = cnx.cursor()

# ejecutamos nuestra query
mycursor.execute("SELECT * FROM employees")

# en este caso solo nos interesa el primer resultado de nuestra query, por lo que usaremos el m√©todo fetchone, para que python solo nos devuelva el primero y despu√©s printemos el resultado
myresult = mycursor.fetchone()
print("el resultado 1 es: ", myresult)

# volvemos a ejecutar el m√©todo fetchone, como ya nos mostr√≥ el primer resultado, y no hemos cerrado la conexi√≥n, al volver a ejecutarlo, nos mostrar√° el segundo resultado. Pero si nos fijamos, lo hace de uno en uno. 
myresult = mycursor.fetchone()
print("el resultado 2 es: ",myresult)

el resultado 1 es:  (1002, 'Murphy', 'Diane', 'x5800', 'dmurphy@classicmodelcars.com', '1', None, 'President')
el resultado 2 es:  (1056, 'Patterson', 'Mary', 'x4611', 'mpatterso@classicmodelcars.com', '1', 1002, 'VP Sales')

**Ojo:** si no cerramos la conexi√≥n, cada vez que ejecutemos *fetchone()* pasar√° al siguiente registro y nos ir√° devolviendo los datos uno a uno.

## M√©todo fetchall()

En cambio, si deseamos seleccionar todos los resultados devueltos por una consulta SQL, podemos utilizar el m√©todo *fetchall()*:

In [4]:
# conectamos con el servidor
cnx = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="tienda"
)

# iniciamos el cursor
mycursor = cnx.cursor()

# realizamos nuestra query
mycursor.execute("SELECT * FROM employees")

# le decimos a Python que nos devuelva todos los resultados de la query usando el m√©todo fetchall
myresult = mycursor.fetchall()
print(myresult)

[(1002, 'Murphy', 'Diane', 'x5800', 'dmurphy@classicmodelcars.com', '1', None, 'President'), (1056, 'Patterson', 'Mary', 'x4611', 'mpatterso@classicmodelcars.com', '1', 1002, 'VP Sales'), (1076, 'Firrelli', 'Jeff', 'x9273', 'jfirrelli@classicmodelcars.com', '1', 1002, 'VP Marketing'), (1088, 'Patterson', 'William', 'x4871', 'wpatterson@classicmodelcars.com', '6', 1056, 'Sales Manager (APAC)'), (1102, 'Bondur', 'Gerard', 'x5408', 'gbondur@classicmodelcars.com', '4', 1056, 'Sale Manager (EMEA)'), (1143, 'Bow', 'Anthony', 'x5428', 'abow@classicmodelcars.com', '1', 1056, 'Sales Manager (NA)'), (1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep'), (1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep'), (1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep'), (1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep'), (1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep'), (1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep'), (1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep'), (1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep'), (1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep'), (1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep'), (1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep'), (1611, 'Fixter', 'Andy', 'x101', 'afixter@classicmodelcars.com', '6', 1088, 'Sales Rep'), (1612, 'Marsh', 'Peter', 'x102', 'pmarsh@classicmodelcars.com', '6', 1088, 'Sales Rep'), (1619, 'King', 'Tom', 'x103', 'tking@classicmodelcars.com', '6', 1088, 'Sales Rep'), (1621, 'Nishi', 'Mami', 'x101', 'mnishi@classicmodelcars.com', '5', 1056, 'Sales Rep'), (1625, 'Kato', 'Yoshimi', 'x102', 'ykato@classicmodelcars.com', '5', 1621, 'Sales Rep'), (1702, 'Gerard', 'Martin', 'x2312', 'mgerard@classicmodelcars.com', '4', 1102, 'Sales Rep')]

Podemos ver que nos devuelve una lista de tuplas, en la que cada tupla es una fila de nuestra consulta.

Si quisieramos acceder a cada registro de los resultados, podemos hacerlo usando myresult como un iterable. Esto nos devolver√° cada fila resultado como una tupla:

In [5]:
# conectamos con el servidor
cnx = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="tienda"
)

# iniciamos el cursor
mycursor = cnx.cursor()

# realizamos la query
mycursor.execute("SELECT * FROM employees")

# le pedimos que almacene todos los resultados
myresult = mycursor.fetchall()

# accedemos a cada fila de una en una usando un bucle for. Fijaos que nos devuelve tuplas!!!
for x in myresult:
  print(x)

(1002, 'Murphy', 'Diane', 'x5800', 'dmurphy@classicmodelcars.com', '1', None, 'President')
(1056, 'Patterson', 'Mary', 'x4611', 'mpatterso@classicmodelcars.com', '1', 1002, 'VP Sales')
(1076, 'Firrelli', 'Jeff', 'x9273', 'jfirrelli@classicmodelcars.com', '1', 1002, 'VP Marketing')
(1088, 'Patterson', 'William', 'x4871', 'wpatterson@classicmodelcars.com', '6', 1056, 'Sales Manager (APAC)')
(1102, 'Bondur', 'Gerard', 'x5408', 'gbondur@classicmodelcars.com', '4', 1056, 'Sale Manager (EMEA)')
(1143, 'Bow', 'Anthony', 'x5428', 'abow@classicmodelcars.com', '1', 1056, 'Sales Manager (NA)')
(1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep')
(1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep')
(1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep')
(1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep')
(1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep')
(1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep')
(1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep')
(1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep')
(1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')
(1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep')
(1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep')
(1611, 'Fixter', 'Andy', 'x101', 'afixter@classicmodelcars.com', '6', 1088, 'Sales Rep')
(1612, 'Marsh', 'Peter', 'x102', 'pmarsh@classicmodelcars.com', '6', 1088, 'Sales Rep')
(1619, 'King', 'Tom', 'x103', 'tking@classicmodelcars.com', '6', 1088, 'Sales Rep')
(1621, 'Nishi', 'Mami', 'x101', 'mnishi@classicmodelcars.com', '5', 1056, 'Sales Rep')
(1625, 'Kato', 'Yoshimi', 'x102', 'ykato@classicmodelcars.com', '5', 1621, 'Sales Rep')
(1702, 'Gerard', 'Martin', 'x2312', 'mgerard@classicmodelcars.com', '4', 1102, 'Sales Rep')

¬°Felicidades por completar esta lecci√≥n! üéâ Ahora ya sabes c√≥mo acceder a los resultados de tus consultas MySQL desde Python y manejarlos de manera efectiva. Hemos visto las diferentes formas en que puedes obtener los datos y c√≥mo utilizarlos en tus proyectos, ¬°un paso esencial en el camino hacia la creaci√≥n de aplicaciones m√°s robustas y √∫tiles!

Recuerda que el acceso a los datos es clave en cualquier an√°lisis, y ahora tienes las herramientas para hacerlo de manera eficiente. Sigue practicando, ¬°est√°s cada vez m√°s cerca de convertirte en una experta en SQL y Python! üöÄ

¬°Nos vemos en la pr√≥xima lecci√≥n!