In [77]:
import pandas as pd

from sklearn.model_selection import train_test_split

import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Kathe\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Kathe\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

punkt:
This dataset is used for tokenization—the process of splitting text into individual words or sentences. The 'punkt' tokenizer is a pre-trained model that recognizes common patterns in text, such as punctuation marks and sentence boundaries. It helps the tokenizer understand where words or sentences begin and end.

Pwordnet:
This dataset provides access to WordNet, a large lexical database of English. WordNet groups English words into sets of synonyms (synsets), which helps in tasks like lemmatization. The WordNet lemmatizer uses this dataset to reduce words to their base or root form (lemmas). For instance, it can convert "running" to "run" and "better" to "good."

In [78]:
def leer_csv(name):
    return pd.read_csv(name)

In [79]:
datasets = ['dataset_1.csv', 'dataset_3.csv', 'dataset_4.csv', 'dataset_5.csv', 'dataset_6.csv']

In [80]:
for set in datasets:
    leer_csv(set)
    print(leer_csv(set).head())

                                               title  \
0                       You Can Smell Hillary’s Fear
1  Watch The Exact Moment Paul Ryan Committed Pol...
2        Kerry to go to Paris in gesture of sympathy
3  Bernie supporters on Twitter erupt in anger ag...
4   The Battle of New York: Why This Primary Matters

                                                text label
0  Daniel Greenfield, a Shillman Journalism Fello...  FAKE
1  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE
2  U.S. Secretary of State John F. Kerry said Mon...  REAL
3  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE
4  It's primary day in New York and front-runners...  REAL
                                               title  \
0  Palestinians switch off Christmas lights in Be...
1  China says Trump call with Taiwan president wo...
2   FAIL! The Trump Organization’s Credit Score W...
3  Zimbabwe military chief's China trip was norma...
4  THE MOST UNCOURAGEOUS PRESIDENT EVER Receives ...

                                                text  label
0  Palestinians switched off Christmas lights at ...      1
1  U.S. President-elect Donald Trump’s call with ...      1
2  While the controversy over Trump s personal ta...      0
3  A trip to Beijing last week by Zimbabwe s mili...      1
4  There has never been a more UNCOURAGEOUS perso...      0
                                               title  \
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...

                                                text label
0  Donald Trump just couldn t wish all Americans ...  FAKE
1  House Intelligence Committee Chairman Devin Nu...  FAKE
2  On Friday, it was revealed that former Milwauk...  FAKE
3  On Christmas day, Donald Trump announced that ...  FAKE
4  Pope Francis used his annual Christmas Day mes...  FAKE
                                               title  \
0         Four ways Bob Corker skewered Donald Trump
1  Linklater's war veteran comedy speaks to moder...
2  Trump’s Fight With Corker Jeopardizes His Legi...
3  Egypt's Cheiron wins tie-up with Pemex for Mex...
4        Jason Aldean opens 'SNL' with Vegas tribute

                                                text label
0  Image copyright Getty Images\nOn Sunday mornin...  REAL
1  “Last Flag Flying”, a comedy-drama about Vietn...  REAL
2  The feud broke into public view last week when...  REAL
3  Egypt’s Cheiron Holdings Limited won the right...  REAL
4  Country singer Jason Aldean, who was performin...  REAL
                                               title  \
0  Syria attack symptoms consistent with nerve ag...
1  Homs governor says U.S. attack caused deaths b...
2    Death toll from Aleppo bomb attack at least 112
3        Aleppo bomb blast kills six Syrian state TV
4  29 Syria Rebels Dead in Fighting for Key Alepp...

                                                text label
0  Syria attack symptoms consistent with nerve ag...  FAKE
1  at 0914 Homs governor says U.S. attack caused ...  FAKE
2  Death toll from Aleppo bomb attack at least 11...  FAKE
3  Aleppo bomb blast kills six Syrian state TV. A...  FAKE
4  29 Syria Rebels Dead in Fighting for Key Alepp...  FAKE

In [81]:
for set in datasets:
    print(leer_csv(set).shape)

(6335, 3)
(24353, 3)
(44898, 3)
(3522, 3)
(804, 3)

In [82]:
for set in datasets:
    print(leer_csv(set).columns)

Index(['title', 'text', 'label'], dtype='object')
Index(['title', 'text', 'label'], dtype='object')
Index(['title', 'text', 'label'], dtype='object')
Index(['title', 'text', 'label'], dtype='object')
Index(['title', 'text', 'label'], dtype='object')

In [83]:
for set in datasets:
    df = leer_csv(set)
    print(f"Unique values in {set}:")
    print(df['label'].unique())

Unique values in dataset_1.csv:
['FAKE' 'REAL']
Unique values in dataset_3.csv:
[1 0]
Unique values in dataset_4.csv:
['FAKE' 'REAL']
Unique values in dataset_5.csv:
['REAL' 'FAKE']
Unique values in dataset_6.csv:
['FAKE' 'REAL']

In [84]:
df_dataset_3 = leer_csv('dataset_3.csv')

In [85]:
#Dataset 3: These articles are classified as true (1) or false (0)


for idx, label in enumerate(df_dataset_3['label']): 
    if label == 0:
        df_dataset_3.at[idx, 'label'] = 'FAKE'
    elif label == 1:
        df_dataset_3.at[idx, 'label'] = 'REAL'

df_dataset_3.head()

C:\Users\Kathe\AppData\Local\Temp\ipykernel_12168\1421717575.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'REAL' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_dataset_3.at[idx, 'label'] = 'REAL'

,title,text,label
0,Palestinians switch off Christmas lights in Be...,Palestinians switched off Christmas lights at ...,REAL
1,China says Trump call with Taiwan president wo...,U.S. President-elect Donald Trump’s call with ...,REAL
2,FAIL! The Trump Organization’s Credit Score W...,While the controversy over Trump s personal ta...,FAKE
3,Zimbabwe military chief's China trip was norma...,A trip to Beijing last week by Zimbabwe s mili...,REAL
4,THE MOST UNCOURAGEOUS PRESIDENT EVER Receives ...,There has never been a more UNCOURAGEOUS perso...,FAKE

In [86]:
df_dataset_3.to_csv('dataset_3.csv', index=False)

In [87]:
for set in datasets:
    df = leer_csv(set)
    print(f"Unique values in {set}:")
    print(df['label'].unique())

Unique values in dataset_1.csv:
['FAKE' 'REAL']
Unique values in dataset_3.csv:
['REAL' 'FAKE']
Unique values in dataset_4.csv:
['FAKE' 'REAL']
Unique values in dataset_5.csv:
['REAL' 'FAKE']
Unique values in dataset_6.csv:
['FAKE' 'REAL']

In [88]:
for set in datasets:
    df = leer_csv(set)
    print(f"Null values in {set}:")
    print(df.isnull().sum())

Null values in dataset_1.csv:
title    0
text     0
label    0
dtype: int64
Null values in dataset_3.csv:
title    0
text     1
label    0
dtype: int64
Null values in dataset_4.csv:
title    0
text     0
label    0
dtype: int64
Null values in dataset_5.csv:
title    0
text     0
label    0
dtype: int64
Null values in dataset_6.csv:
title    0
text     0
label    0
dtype: int64

In [89]:
df_dataset_5 = leer_csv('dataset_5.csv')

In [90]:
df_dataset_5= df_dataset_5.dropna()
df_dataset_5.to_csv('dataset_5.csv', index=False)

In [91]:
for set in datasets:
    df = leer_csv(set)
    print(f"Null values in {set}:")
    print(df.isnull().sum())

Null values in dataset_1.csv:
title    0
text     0
label    0
dtype: int64
Null values in dataset_3.csv:
title    0
text     1
label    0
dtype: int64
Null values in dataset_4.csv:
title    0
text     0
label    0
dtype: int64
Null values in dataset_5.csv:
title    0
text     0
label    0
dtype: int64
Null values in dataset_6.csv:
title    0
text     0
label    0
dtype: int64

In [92]:
df_list = []  # Initialize an empty list to store DataFrames

for dataset in datasets:  # Loop through each file name
    df_list.append(leer_csv(dataset))  # Append the DataFrame to the list

df_combined = pd.concat(df_list, ignore_index=True)  # Merge all DataFrames

print(df_combined.shape)  # Check the size of the final dataset

(79912, 3)

In [93]:
# Assuming `df` is your merged dataset
train_df, test_df = train_test_split(df_combined, test_size=0.2, random_state=42)

# Save for later use
train_df.to_csv("train_data.csv", index=False)
test_df.to_csv("test_data.csv", index=False)

In [94]:
print(f'train shape: {train_df.shape}, test shape: {test_df.shape}')  # Check the size of the final datasets

train shape: (63929, 3), test shape: (15983, 3)

In [95]:
# Tokenize the text
#text = "The cats are running fast."
#tokens = word_tokenize(text)
#print("Tokens:", tokens)

# Lemmatize the tokens
#lemmatizer = WordNetLemmatizer()
#lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]
#print("Lemmatized Tokens:", lemmatized_tokens)