In [1]:
import pandas as pd

Looking at the dataset, I think 0 means fake and 1 means true

https://www.kaggle.com/datasets/jruvika/fake-news-detection

In [5]:
df_dataset_5 = pd.read_csv(r'C:\Users\Kathe\Documents\source_code\ejercicios-en-adalab\Proyecto Personal\DATASET 5\data.csv')

pd.set_option('display.max_columns', None)

df_dataset_5

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1
...,...,...,...,...
4004,http://beforeitsnews.com/sports/2017/09/trends...,Trends to Watch,Trends to Watch\n% of readers think this story...,0
4005,http://beforeitsnews.com/u-s-politics/2017/10/...,Trump Jr. Is Soon To Give A 30-Minute Speech F...,Trump Jr. Is Soon To Give A 30-Minute Speech F...,0
4006,https://www.activistpost.com/2017/09/ron-paul-...,"Ron Paul on Trump, Anarchism & the AltRight",NaN,0
4007,https://www.reuters.com/article/us-china-pharm...,China to accept overseas trial data in bid to ...,SHANGHAI (Reuters) - China said it plans to ac...,1
4008,http://beforeitsnews.com/u-s-politics/2017/10/...,Vice President Mike Pence Leaves NFL Game Beca...,Vice President Mike Pence Leaves NFL Game Beca...,0

In [6]:
#0 is true, 1 is false

for idx, label in enumerate(df_dataset_5['Label']): 
    if label == 0:
        df_dataset_5.at[idx, 'Label'] = 'FAKE'
    elif label == 1:
        df_dataset_5.at[idx, 'Label'] = 'REAL'

df_dataset_5.head()

C:\Users\Kathe\AppData\Local\Temp\ipykernel_6660\3628811219.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'REAL' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_dataset_5.at[idx, 'Label'] = 'REAL'

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,REAL
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",REAL
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,REAL
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,REAL
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",REAL

In [12]:
#df_dataset_5.rename(columns={'Label': 'label'}, inplace=True)
df_dataset_5.rename(columns={'Headline': 'title'}, inplace=True)
df_dataset_5.rename(columns={'Body': 'text'}, inplace=True)

In [8]:
print(f'There are {df_dataset_5.shape[0]} rows in Dataset5')
print(f'There are {df_dataset_5.shape[1]} columns in Dataset5')

There are 4009 rows in Dataset5
There are 4 columns in Dataset5

In [9]:
df_dataset_5.describe().T

         count unique                                                top  freq
URLs      4009   3352  http://beforeitsnews.com/sports/2017/09/ravens...     5
Headline  4009   2831  10/3 Happenings: HBD Cap, Johnny, Dog, Tomato,...     6
Body      3988   2863  A Potato Battery Can Light up a Room for Over ...   143
label     4009      2                                               FAKE  2137

In [13]:
df_dataset_5.dtypes

URLs     object
title    object
text     object
label    object
dtype: object

In [14]:
df_dataset_5['label'].value_counts()

label
FAKE    2137
REAL    1872
Name: count, dtype: int64

In [15]:
df_dataset_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   URLs    4009 non-null   object
 1   title   4009 non-null   object
 2   text    3988 non-null   object
 3   label   4009 non-null   object
dtypes: object(4)
memory usage: 125.4+ KB

In [17]:
df_dataset_5['text'].isnull().sum()

np.int64(21)

In [21]:
#df_dataset_5 = df_dataset_5.drop('URLs', axis=1)

df_dataset_5.head()

,title,text,label
0,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,REAL
1,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",REAL
2,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,REAL
3,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,REAL
4,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",REAL