# Apply

## Apply es otra función de pandas que se usa para:

- Aplicar una función a lo largo de un DataFrame
- Es decir, para hacer cálculos o transformaciones en muchos datos, sin necesidad de un bucle for

In [1]:
# nuestras librerias a utilizar
import pandas as pd
import numpy as np


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

## Funciones sin apply a todas las filas de un data frame

In [ ]:
# Ejemplo 1


# Crear un DataFrame
data = {'A': [1, 2, 3, 4]}
df = pd.DataFrame(data)
df

In [3]:

# Elevar todos los valores de la columna 'A' al cuadrado
df['Cuadrado'] = df['A'] ** 2
df

   A  Cuadrado
0  1         1
1  2         4
2  3         9
3  4        16

In [ ]:
# Ejemplo 2

data = {'Nombres': ['Juan', 'Ana', 'Luis']}
df = pd.DataFrame(data)
df

In [ ]:
# Convertir todos los nombres a mayúsculas
df['Mayúsculas'] = df['Nombres'].str.upper()
df

## Pero a veces vamos a tener que hacer cambios más complejos, para ello, necesitaremos el apply

### Receta
- Creamos una función para encapsular el cambio que queramos hacer en cada fila -> def func('columna')
- Aplicamos la función a una o varias columnas, para todas las filas -> df['new_colum'] = df['column'].apply(func) 

#### En este caso, 'column', actuará como argumento de entrada a la función

In [ ]:
df = pd.read_csv("bank-additional.csv", index_col = 0)
df.head()

### Clasifica a los clientes en diferentes categorías dependiendo de su edad:

- Jóvenes adultos: 17 a 25 años

- Adultos jóvenes: 26 a 39 años

- Mediana edad: 40 a 59 años

- Adultos mayores: 60 en adelante

In [6]:
# Voy a crear una función personalizada llamada 'categorizar_edad'


def categorizar_edad(numero):

    if numero >=17 and numero <= 25:
        return "Jóvenes adultos"
    
    elif numero >= 26 and numero <= 39:
        return "Adultos jóvenes"

    elif numero >= 40 and numero <= 59:
        return "Mediana edad"
    
    else:
        return "Adultos mayores"

In [ ]:
# Aplicación de la función customizada con apply

# df[nuevo_nombre_co] = df[columna_a_modificar].apply(funcion_personalizada)
# El df tendrá una nueva columna con ese nuevo nombre y el resultado de la función por cada fila
# A veces querré borrar la columna original

df["age_cat"] = df["age"].apply(categorizar_edad)

df.head()

In [ ]:
### Ahora quiero reemplazar , por . y cambiar a float las siguientes columnas: 'cons.price.idx''consconfidx', 'euribor3m'


#### El objetivo será poder poder hacer cálculos con ellas posteriormente.

In [ ]:
df.dtypes

In [10]:
# Creación de la función customizada 

def cambiar_comas(cadena):
    try:
    # Reemplazar las comas por puntos en la cadena
        return float(cadena.replace(",", "."))
    
    except:
        # Si ocurre algún error (por ejemplo, si el argumento no es una cadena),
        # devolver np.nan (valor Not a Number, vamos, un NULL de toda la vida)
        return np.nan

In [11]:
df['cons.price.idx'] = df['cons.price.idx'].apply(cambiar_comas)
df['cons.conf.idx'] = df['cons.conf.idx'].apply(cambiar_comas)
df['euribor3m'] = df['euribor3m'].apply(cambiar_comas)

In [ ]:
# Aplicación de la función customizada con apply
# Esto es equivalente a lo de arriba

lista_columnas = ['cons.price.idx', 'cons.conf.idx', 'euribor3m']


for col in lista_columnas:
    df[col] = df[col].apply(cambiar_comas)

In [ ]:
df.dtypes